.mainContainer {
    display: flex;
    flex-direction: row;
}

.fullContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.pinkL {
    height: 100vh;
    width: 50vw;
    background-color: #f6cfbe;
    position: relative;
    z-index: 0;
}

.blueR {
    height: 100vh;
    width: 50vw;
    background-color: #cbe2f0;
    position: relative;
    z-index: 0;
    overflow: visible;
}

.left {
    position: absolute;
    top: 0%;
    right: 32%;
}

.right {
    position: absolute;
    top: 0%;
    left: 32%;
}

.pictures {
    z-index: 3;
    right: 0%;
    left: 0%;
    position: absolute;
}

.plus {
    display: inline-block;
    width: 50px;
    height: 50px;

    background: linear-gradient(#ced3dc 0 0), linear-gradient(#ced3dc 0 0),
        #353535;
    background-position: center;
    background-size: 50% 2px, 2px 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    z-index: 6;
    transform: skew(15deg);
}

.bLeft {
    top: 22%;
    left: 55%;
    transform: skew(-14deg, 5deg);
}

.bRight {
    top: 70%;
    left: 37%;
    transform: skew(-14deg, 5deg);
}

.circle {
    padding: 25px;
    z-index: 5;
}

.cLeft {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.cRight {
    position: absolute;
    top: 0%;
    right: 0%;
}

.cMiddle {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
