.main-head {
    color: #b8dbd9;
    position: relative;
    top: -4vh;
    font-family: Poppins;
    text-align: center;
    padding-bottom: 1vh;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.main-foot {
    font-family: 'Open Sans';
    position: relative;
    top: -7vh;
    text-align: right;
}
