.github {
    color: #b8dbd9;
    position: relative;
    font-family: Poppins;
    text-align: center;
    padding-bottom: 1vh;
    background-color: #212b30;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.name {
    font-family: 'Open Sans';
    position: relative;
    text-align: right;
    color: #7c8a92;
    z-index: 0;
}
