.text {
    color: #f4f4f9;
    font-family: Poppins;
    font-size: 4vh;
    text-align: center;
    z-index: 10;
    position: relative;
    top: 120%;
}

.ip {
    color: #b8dbd9;
    text-decoration: underline;
}
